/* @tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --carribeanGreen: #00E2A1;
    --white: #fff;
    --darkBlue: #201949;
  }


button.btn {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
    background:transparent;
    padding: 10px 20px;
    border: #201949;
    border-radius: 5px;
  }

  button.White {
    background:var(--darkBlue);
    color: #fff;
  }
  
  button.btn::before,
  button.btn::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: var(--carribeanGreen);
    top: 50%;
    border-radius: 50%;
    z-index: 1;
  }

  button.btn span {
    position: absolute;
    z-index: 2;
    top:23%;
    left:0;
    right:0;
  }
  
  button.btn::before {
    transform: translate(-50%, -50%);
    left: -20px;
  }
  
  button.btn::after {
    transform: translate(50%, -50%);
    right: -20px;
  }
  
  button.btn:hover::before {
    animation: move-left .8s both;
    animation-direction: alternate;
  }
  button.btn:hover::after {
    animation: move-right .8s both;
    animation-direction: alternate;
  }
  
  @keyframes move-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      height: 400px;
      width: 400px;
    }
  }
  
  @keyframes move-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      height: 400px;
      width: 400px;
    }
  }
   */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --carribeanGreen: #00e2a1;
  --white: #fff;
  --darkBlue: #201949;
  --gray: #ebeaea;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--carribeanGreen) var(--gray);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--gray);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--carribeanGreen);
  border-radius: 14px;
  border: 3px solid var(--gray);
}

button.btn {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: block;
  overflow: hidden;
  text-align: center;
  position: relative;
  background: transparent;
  padding: 10px 20px;
  border: #201949;
  border-radius: 5px;
}

button.White {
  background: var(--darkBlue);
  color: #fff;
}

button.Green {
  background: var(--darkBlue);
  color: #fff;
  border-style: solid;
  border-color: var(--carribeanGreen);
  border-width: 1px;
}

button.Dark {
  background: var(--carribeanGreen);
  color: #fff;
  border-style: solid;
  border-color: var(--darkBlue);
  border-width: 1px;
}

button.btn::before,
button.btn::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: var(--carribeanGreen);
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

button.White::before,
button.White::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: var(--white);
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

button.Dark::before,
button.Dark::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: var(--darkBlue);
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

button.btn span {
  position: absolute;
  z-index: 2;
  top: 23%;
  left: 0;
  right: 0;
}

span.White {
  position: absolute;
  color: var(--darkBlue);
  z-index: 2;
  top: 23%;
  left: 0;
  right: 0;
}

button.btn::before {
  transform: translate(-50%, -50%);
  left: -20px;
}

button.btn::after {
  transform: translate(50%, -50%);
  right: -20px;
}

button.btn:hover::before {
  animation: move-left 0.8s both;
  animation-direction: alternate;
}

button.btn:hover::after {
  animation: move-right 0.8s both;
  animation-direction: alternate;
}

@keyframes move-left {
  0% {
    left: -20px;
  }

  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    left: 50%;
    height: 400px;
    width: 400px;
  }
}

@keyframes move-right {
  0% {
    right: -20px;
  }

  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    right: 50%;
    height: 400px;
    width: 400px;
  }
}

/* Slider */
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}

.each-slide-effect div {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.listTickColor {
  color: #16e2a5;
}

element.style {
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1140px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 369px) and (max-width: 576px) {
  .container {
    max-width: 350px;
  }
}

.form-group {
  border: 2px solid #fff;
  position: relative;
  width: fit-content;
  padding: 8px;
}

.form-group > label {
  position: absolute;
  top: -18px;
  left: 20px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  background: #261e35;
}

.form-group > input {
  border: none;
  background: transparent;
  color: #fff;
  min-height: 32px;
}
.form-group {
  margin-top: 30px;
  padding-top: 10px;
}

input[type]:focus {
  box-shadow: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

input[type="submit"] {
  background-color: #1ce1a6;
  padding: 11px 35px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0px;
}
input[type="submit"]:hover {
  background-color: #1b1037;
}

/* .GetStartedHeading:before {
  content: "";
  background-image: url(/public/footer-right-circle);
  width: 794px;
  height: 806px;
  top: -120px;
  right: -250px;
  position: absolute;
  background-repeat: no-repeat;
  animation: circle-spin 8s ease infinite;
} */

.footer-menu-list:before {
  content: "\2023";
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 28px;
  font-weight: 900;
  color: #0de2a3;
}

.strokeheading {
  -webkit-text-stroke: 1px #16e2a5;
  -webkit-text-fill-color: white;
}

/* Services Column Sliider */

/* .mainColSlider {
  padding-bottom: 100px;
}

.mainColSlider .swiper-button-prev {
bottom: 0 !important;
top: auto !important;
left: 50% !important;
} */

/* .swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
  color: black;
  top: auto !important;
  bottom: 0 !important;
  margin-top: auto;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
} */
